body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90vw;
    margin: auto;
}

.header {
    background: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* NAVBAR *********************************************************************/
.navbar {
    background-color: #D8D8D8;
    overflow: hidden;
    position: sticky;
    top: 0; 
    z-index: 1000; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 1vw 2vw;
    font-family: 'CMU Sans Serif', sans-serif;
    font-size: 2vw;
    color: black;
}

.navbar a {
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* LANDING PAGE ***************************************************************/
.title h1 {
    font-family: 'Commissioner', sans-serif;
    color: #4C3B4D;
    font-size: 12vw;
    margin-bottom: -290vh;
    margin-top: -5vh;
    align-self: center;
}

.subtitle h3 {
    font-family: 'CMU Sans Serif', sans-serif;
    font-weight: bold; 
    color: black;
    font-size: 2.5vw;
    text-align: center;
}

.landing_page {
    position: relative; 
    min-height: calc(100vh - 75px); 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: #f3f3f3;
    padding-bottom: 1vh;
}

.title, .subtitle {
    z-index: 2; 
    position: relative; 
    top: 150px;
}


.main-image {
    width: 100%; 
    z-index: 0; 
    display: flex;
    justify-content: center; 
    align-self: flex-end;
    margin-top: auto;
    position: relative;
}


.main-image img {
    width: auto; 
    max-width: 100%; 
    max-height: 75vh; 
    object-fit: contain; 
    margin: auto; 
    display: block; 
}


/* DETAILS PAGE ***************************************************************/
.details-page h2 {
    font-family: 'CMU Sans Serif', sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin-top: -90px;
    margin-bottom: 20px;
}

.description p {
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    font-weight: bold;
}


.details-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally in the container */
    justify-content: center; /* Centers items vertically in the container */
    text-align: center; /* Centers the text inside the child elements */
    min-height: 100vh; /* Optional: Ensures the container takes at least the full height of the viewport */
    padding: 10px; /* Adds some padding around the content */
    background-color: #FCF9F0;
}


.service-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    gap: 30px; /* Space between cards */
    margin-bottom: 50px;
    margin-top: -10px;
}

.card {
    width: 317px;
    position: relative;
    height: 393px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg); /* Flip on hover */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the back face */
}

.card-back {
    background: #f8f8f8;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg); /* Initially rotated away */
    font-family: 'CMU Sans Serif', sans-serif;
    font-weight: bold;
}

.service-image {
    width: 317px;
    height: 393px;
    object-fit: cover;
}

.details-page .description p {
    width: 90%; /* Default width to allow some margin on small screens */
    max-width: calc(317px * 3); /* Maximum width to match the cards */
    margin-left: auto; 
    margin-right: auto;
}

/* .details-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    min-height: 100vh; 
    background-color: #FCF9F0;
    padding-top: 1rem;
}

.details-page h2 {
    font-family: 'CMU Sans Serif', sans-serif;
    font-weight: bold;
    font-size: 8vw;
    margin-top: 0;
    padding-top: 1rem;
}


.service-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
}

.card {
    width: 15vw;
    position: relative;
    height: 100%;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg); 
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}

.card-back {
    background: #f8f8f8;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg); 
    font-family: 'CMU Sans Serif', sans-serif;
    font-weight: bold;
}

.service-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.details-page .description {
    width: 90%;
    max-width: calc(317px * 3); 
}

.description p {
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    font-weight: bold;
} */


/* For phone */
/* @media only screen and (max-width: 375px) {

} */

/* for tablets */
/* @media only screen and (min-width: 768px) {

} */

/* large computers */ 
/* @media only screen and (min-width: 3840px) {
    .title h1 {
        font-family: 'Commissioner', sans-serif;
        color: #4C3B4D;
        font-size: 12vw;
        margin-bottom: -290vh;
        align-self: center;
    }

    .subtitle h3 {
        font-family: 'CMU Sans Serif', sans-serif;
        font-weight: bold; 
        color: black;
        font-size: 2.5vw;
        text-align: center;
        margin-top: 15vh;
    }

    .details-page h2 {
        font-family: 'CMU Sans Serif', sans-serif;
        font-weight: bold;
        font-size: 6vw;
        margin-top: -40vh;
    }


    .service-images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap; 
        gap: 30px; 
        margin-bottom: 50px;
        margin-top: -10px;
    }
    
    .card {
        width: 15vw; 
        height: calc(15vw * 1.25);
        max-width: none; 
    }
    
    
    .details-page .description p {
        width: 90%;
        max-width: calc(317px * 3); 
        margin-left: auto; 
        margin-right: auto;

    } 
} */


